@page
@model PaymentsDemo.Pages.IndexModel
@{
}

<h2>Pay Up ...</h2>

<form method="post">

  <input asp-for="@Model.Payment.FirstName" placeholder="First Name" />
  <input asp-for="@Model.Payment.LastName" placeholder="Last Name" />
  <input asp-for="@Model.Payment.BillingAddress" placeholder="Billing Address" />
  <input asp-for="@Model.Payment.BillingCity" placeholder="City" />
  <input asp-for="@Model.Payment.BillingZip" placeholder="Zip Code" />
  <input asp-for="@Model.Payment.Amount" placeholder="Amount" />
  <input asp-for="@Model.Payment.CardNumber" placeholder="Card Number" />
  <input asp-for="@Model.Payment.Expiration" placeholder="Expiration (MMDD)" />
  <input asp-for="@Model.Payment.Cvv" placeholder="Security Code" />

  <button>Submit Payment</button>

</form>


@if (Model.PaymentResponse != null)
{
<hr />

<div>Success: @Model.PaymentResponse.Success.ToString()</div>
<div>Transaction ID: @Model.PaymentResponse.TransactionId</div>
<div>Response Code: @Model.PaymentResponse.Code</div>
<div>Response Message: @Model.PaymentResponse.Message</div>
<div>Response Description: @Model.PaymentResponse.Description</div>}
