@model UploadingDemo.Models.Document

<h1>Upload Demo</h1>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
  <div><input name="file" type="file" /></div>
  <button>Upload</button>
</form>


@if (@Model != null)
{

<div>Uploaded File</div>

<ul>
  <li>Name: @Model.Name</li>
  <li>Type: @Model.Type</li>
  <li>Size: @Model.Size</li>
  <li>URL: @Model.Url</li>
</ul>

  @if (@Model.Url != null)
  {
    <img src="@Model.Url"  width="250"/>
  }

}
